.cart-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin: 0;
    height: 100px;
    width: 80%;
}

.cart-item .cart-img img{
    width: 100%;
}

.cart-item .cart-text{
    /* overflow: hidden; */
}